.images-list .image-item {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.images-list .image-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.image-preview img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
