 .container {
     min-height: 100vh;
     padding: 0 0.5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: rgb(161, 160, 160);
 }

 .APlayer {
     max-height: 400px;
     padding: 5rem 0;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: rgb(40, 156, 29);
     border-radius: 15%;
     
 }

 /* 
    You can write your own styles here...    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:    
    import 'relative/path/to/stylesheet.scss';
*/