 .audioPlayer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* justify-content: center;   */
 }

 .foward {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     cursor: pointer;
     border: none;
     border-radius: 50%;
     width: 45px;
     height: 45px;
     background: rgb(255, 170, 12);     box-shadow: 0px 0px 1px 3px grey;
 }
 .foward:active {
    background-color: rgb(170, 170, 170);
    border: 1px grey soldid;
}

 .playBtn {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     width: 45px;
     height: 45px;
     font-size: 35px;
     border-radius: 50%;
     border: none;
     background: rgb(255, 170, 12);     box-shadow: 0px 0px 1px 3px grey;
 }

 .playBtn:active {
     background-color: rgb(170, 170, 170);
     border: 1px grey soldid;
 }

 .backward {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     cursor: pointer;
     border: none;
     border-radius: 50%;
     width: 45px;
     height: 45px;
     background: rgb(255, 170, 12);
     box-shadow: 0px 0px 1px 3px grey;

 }

 .backward:active {
     background-color: rgb(170, 170, 170);
     border: 1px grey soldid;
 }
 .lista{
    border: none;        
 }
 .lista:active{
    background-color: rgb(170, 170, 170);
    border: 1px grey soldid;
 }
 .barProg{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .mdPlyr{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 